body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.container {
  background-color: #f1efef;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-top: 50px;
}

h2 {
  font-size: 4vh;
  font-weight: 600;
}

.checkbox-data {
  font-size: medium;
  margin: 1rem 0;
  padding-right: 2rem;
}

#message {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #c7c2c2;
  border-top: 1px solid #e5e5e5
}

.privacy-link {  
  color: blue;
}

#point_t, #point_n, #point_e{
  box-sizing: border-box;
  height: 249px;
  padding: 25px;
  border: 1px solid #9ab1e4;
  font-size: 1.2em
}

#button_contacts {
  margin-top: 1rem;
  background: #0051ffab;
  padding: 15px 0;
  width: 60%;
  border: 2px solid #27136d;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.3em;
  text-transform: uppercase;
  transition: background .6s, color .6s
}

#button_contacts:hover {
  background: white;
  color: #0051ffab
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 4vh;
    font-weight: 600;
  }
  .checkbox-data {
    font-size: small;
    padding-right: 1rem;
  }
}