.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery a{
    flex: 1 1 200px;
    max-width: 200px;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  /* Footer */
.footer {
  margin-top: 5rem;
  position: relative;
  background-color: #272727;
  color: #fff;
  padding: 50px;
}

.footer p,
pre {
  color: white;
  font-size: 14px;
  margin: 0;
}
.footer-center {
  text-align: center;
}
  
  @media screen and (max-width: 600px) {
    .gallery a {
      flex-basis: 33.33%;
      max-width: 33.33%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .gallery a {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  