  .gallery {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  #headline {
    padding: 1rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex: 1 1 400px;
    max-width: 400px;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 768px) {
  .gallery a {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}

@media screen and (max-width: 576px) {
  .gallery a {
    flex-basis: 50%;
    max-width: 50%;
  }
}