.gallery {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

h2 {
  padding: 1rem;
}

.image-container {
  flex: 1 1 400px;
  max-width: 400px;
}

.gallery img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .gallery a {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}

@media screen and (max-width: 400px) {
  .gallery a {
    flex-basis: 50%;
    max-width: 50%;
  }
}