body {
    font-family: Arial, sans-serif;
    background-color: #d4d2d2;
  }
.info-text{
    /* float: right; */
    padding: 0 3rem;
}

.services h2{
    margin-top: 10%;
    font-weight: 600;
}
.services img {
    float: left;
    margin-top: 10vh;
    max-width: 100%;
    height: auto;
}

/* RESPONSIVENESS */
@media screen and (max-width: 767px) {
    .info-text{
        float: left;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
