/* Yleinen */
html {
  background-color: #000000;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* Hero section */
.hero {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.596)), url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 25vh;
}

.hero-text h1 {
  font-size: 56px;
  font-weight: 800;
}

.hero-button {
  margin-top: 1rem;
  box-shadow: 0px 0px 0px 2px #17ebeb;
  background: linear-gradient(to bottom, #13edb6 5%, #136bd6 100%);
  background-color: #13edb6;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #030303;
  font-size: 19px;
  padding: 12px 45px;
  text-shadow: 0px 1px 0px #283966;
}

.hero-button:hover {
  background: linear-gradient(to bottom, #136bd6 5%, #13edb6 100%);
  background-color: #136bd6;
}

/* About */
.about {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: auto;
  margin: 10vh 0px;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .image {
  flex-basis: 50%;
}

.about img {
  max-width: 100%;
  height: auto;
}

.about-text {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* Services */
.services {
  padding-top: 1.5rem;
}

.card-img {
  width: 300px;
  height: 200px;
}

/* Gallery */
.gallery-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#openGalleryButton {
  margin: 10vh 0px;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 4px solid #1532eb;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 27px;
  font-weight: bold;
  padding: 10px 10rem;
  text-decoration: none;
  text-shadow: 5px 4px 5px #263666;
}

#openGalleryButton:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}


/* Contacts */
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-body {
  flex: 1;
  border: 2px solid #000000;
  margin: 10px;
  padding: 2%;
  max-width: 1200px;
  max-height: max-content;
  text-align: left; 
}

#contact img {
  float: left;
  display: block;
  width: 15rem;
  height: auto;
  border: 1px solid;
  margin: 0 auto; 
}

.contact-info a {
  text-decoration: underline;
  color: #000000;
}

.contact-textbox {
  margin-left: 17rem;
  padding: 14px;
  width: auto;
  font-size: small;
}

.contact-title {
  font-size: 3vw;
  font-weight: 600;
}

/* GDPR */
.gdpr-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.87);
  display: none;
  z-index: 6;
}

.gdpr-popup {
  margin: 40vh auto;
  padding: 5px;
  max-width: 500px;
  min-width: min-content;
  height: auto;
  background-color: #bebebe;
  border: 10px solid #000000;
  border-radius: 10px;
  color: black;
  text-align: center;
}

.gdpr-popup h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.gdpr-popup p {
  font-size: 16px;
  margin-bottom: 20px;
}

.gdpr-popup button {
  border-radius: 20px;
  padding: 4px 13px;
}

#gdpr-accept {
  background-color: #17eb33;
}


/* ANIMATIONS */

/* Fade zoom */
.fade-zoom-in {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s, transform 1s;
}

.fade-zoom-in.animate {
  opacity: 1;
  transform: scale(1);
}

/* RESPONSIVENESS */
@media screen and (min-width: 992px){
  /* Gallery */
.parallax {
  background-image: url("../img/background-1.webp");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}

/* Large size media */
@media screen and (max-width: 991px) {

  .hero h1,
  .hero h2,
  .hero h3 { 
    justify-content: center;
    white-space: nowrap;
    text-align: center;
  }

  .about .image {
    flex-basis: 80%;
    order: -1;
    padding-bottom: 4%;
  }

  .contact-info {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  .services .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services .col-md-4 {
    flex-basis: calc(50% - 2rem);
    margin-bottom: 2rem;
  }
}


/* Medium size and smaller */
@media screen and (max-width: 767px) {
  .hero-text h1, 
  .contact-title {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }

  h3 {
    font-size: 4vw;
  }

  .hero-button {
    width: 100%;
    max-width: 80%;
    height: auto;
    text-align: center;
  }


  .about-text h3 {
    font-size: 4vw;
  }

  .about-text {
    font-size: 3vw;
    padding: 0.5em;
    text-align: center;
  }

  .about .image {
    flex-basis: 80%;
    order: -1;
    margin-bottom: 4%;
  }
}

  @media screen and (max-width: 768px) {

  #openGalleryButton {
    align-items: center;
    justify-content: center;
    padding: 10px 3vw;
  }

  .contact-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-body {
    justify-content: center;
    flex-direction: column;
    max-width: fit-content;
  }

  #contact img {
    float: none;
    display: block;
    width: 15rem;
    height: auto;
    border: 1px solid;
    margin: 0 auto; 
  }

  .contact-textbox {
    font-size: 4vh;
    margin: auto;
  }
}